[submodule "deps/NeuralAudio"]
	path = deps/NeuralAudio
	url = https://github.com/mikeoliphant/NeuralAudio
[submodule "deps/AudioFFT"]
	path = deps/AudioFFT
	url = https://github.com/HiFi-LoFi/AudioFFT
